<body style="background-color:lightblue;">
<div class="container">
<div class="col-md-6"></div>
<div class="col-md-4">
<h3><font color="red">Edit Product</font></h3>
<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>
</div>
</div></body>